.rotate-y-180 {
    transform: rotateY(180deg);
}

.bingo-cell {
    transition: all 0.3s ease;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border: 2px solid #e5e7eb;
    border-radius: 0.5rem;
}

.bingo-cell.flipped .cell-front {
    transform: rotateY(180deg);
    z-index: 1;
}

.bingo-cell.flipped .cell-back {
    transform: rotateY(0);
    z-index: 2;
}

.cell-front,
.cell-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
}

.cell-front {
    transform: rotateY(0);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cell-back {
    transform: rotateY(180deg);
    z-index: 1;
    overflow-y: auto;
}

.bingo-cell.completed {
    border-color: #10b981;
}

.bingo-cell.completed .cell-front,
.bingo-cell.completed .cell-back {
    background-color: #f3f4f6;
}

.question-content {
    backface-visibility: hidden;
}

.transform {
    transition: transform 0.2s;
}

.rotate-180 {
    transform: rotate(180deg);
}

#adminSettings-panel,
#driveSettings-panel {
    transition: all 0.3s ease-in-out;
}

.hidden {
    display: none;
    opacity: 0;
}

#adminSettings-panel:not(.hidden),
#driveSettings-panel:not(.hidden) {
    opacity: 1;
}

.preview-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preview-container img,
.preview-container video {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4F46E5;
    margin-bottom: 0.5rem;
}

.question {
    font-size: 1rem;
    color: #374151;
}

#gameBoard {
    display: grid;
    gap: 1rem;
    padding: 1rem;
} 